rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reviews/{reviewId} {
      allow read: if resource.data.approved == true;
      allow create: if true;
      allow update, delete: if true;
    }
  }
}
